body
{
	color: #003939;
	background-color: #B9C9C8;
}


.spacer {
	margin-top:25px;
}

#centerDiv {
	
	width: 90%;
	
	margin:0 auto;
	border: 1px solid;
	border-radius: 3px;
	padding: 0px;
	background-color: #84AEAE;
	
	XXX-position: absolute;
	XXX-z-index: 15;
	XXX-top: 30%;
	XXX-left: 35%;
	XXX-margin: -100px 0 0 -150px;
	XXX-box-shadow: 10px 10px 5px #888888;
}


@media screen and (min-width: 600px) {
	#centerDiv {	
		width: 40%;
	}
}

.logo {
	margin-left: 5px;
	margin-top: 15px;
}

.header {
	width: 100%;
	border: 0;
}
	
.header td {
	margin: 3px;
	text-align: center;
}

H3 {
	margin-bottom: 5px;
}

.form-content {
	padding: 5px;
	padding-top: 40px;
	background-color: #C6D7D7;
}

.subtitle
{
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 14px;
	font-family: Arial;
	#font-style: italic;
}

#rss {
	display:table-cell;
	width: 100%;
	height:24px;
}

input, select {
	padding: 1px;
	margin: 0;
}

button
{
    font-size: 14px;
    font-family: Arial;	
    padding: 3px;
    color: #003939;
}

html, body {
	height: 100%;
}

body, strong, b, em, i, label, input,p{
	font-size: 14px;
	font-family: Arial;
}

H3
{
	color: DarkRed;
	font-size: 20px;
}

#jobdetails
{
	width:100%;
	height: 300px;
	margin-top:10px;
	border-style: solid;
    border-width: 1px;
}

#wrapper {
    text-align: center;
    width: 100%;
    
}

#progressbar
{
	width: 100%;
	height:30px;
	text-align: center;
}

#progresstext
{
	text-align: center;
    text-align: center;
    margin-top: -25px;
    font-weight: normal;
}

#results_dialog {
    display: none;
}